:root {
    --background: linear-gradient(135deg, #667eea7e 100%, #764ba298 100%);
    --color-primary: #667eea;
    --color-secondary: #764ba2;
    --boton-padding: 20px 40px;
    background-repeat: no-repeat;
    background-image: var(--background), url(./imagenes/agen.jpg);
    height: 100vh;
    width: 100%;
    margin: 0;
    background-size: cover;


}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    padding: 90px 20px 0;
}

.header {
    background-color: #a679c0;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
    background-color: rgba(138, 40, 158, 0.267);
    transition: 0.5s;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

.pie {
    background-color: #a679c0;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.redondeado {
    border-radius: 5px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    padding: 10px;
    resize: none;
}

div {
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    max-width: 1200px;
}

section {
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px 0;
    max-width: 1200px;
}
.col1{
    list-style: none;
    padding: 10px;
    float: right; 
    width: 45%;
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
    display: flex;
    margin-right: 40px;
}
.col2{
    padding: 30px; 
    float: left;
    width: 50%; 
    
}
@media (max-width: 768px) {

    body {
        padding-top: 70px;
    }

    .header {
        height: 60px;
    }

    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
        background-color: #632951;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    li a:hover:not(.active) {
        background-color: #a76ac9;
    }

    .nav-menu-item {
        line-height: 70px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #83c5f7;
    }

    .nav-toggle {
        display: block;
        font-size: 30px;
        font-weight: bold;
        padding: 0 40px;
        line-height: 30px;

    }

    .nav-menu_visible {
        left: 0;
    }

}

/*


.hola {
    height: 100vh;

    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    }

.contenedor{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        padding: 50px 0;
        max-width: 1200px;            
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #333;
    background-color: #a679c0;
}
.pie{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    border: 0px solid #333;
    background-color: #a679c0;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* cambio de color al pasar el click */
li a:hover:not(.active) {
    background-color: #a76ac9;
}

.active {
    background-color: #caaef7;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}